<template>
  <div class="instrument-editor-synth">
    <div class="instrument-editor-synth__left">
      <ui-card color="black" class="instrument-editor-synth__options">
        <div class="instrument-editor-synth__options__option">
          <ui-knob :min="-10"
                   :max="10"
                   :step="0.1"
                   :size="40"
                   v-model="volume">
            <span slot="label">
              <slot name="label">Volume</slot>
            </span>
            <span slot-scope="{ value }">
              {{ value.toFixed(1) }} dB
            </span>
          </ui-knob>
        </div>
        <div class="instrument-editor-synth__options__option">
          <ui-knob :min="0"
                  :max="0.5"
                  :step="0.005"
                  :size="40"
                  v-model="portamento">
            <span slot="label">
              <slot name="label">Portamento</slot>
            </span>
            <span slot-scope="{ value }">
              {{ (value * 1000).toFixed(1) }} ms
            </span>
          </ui-knob>
        </div>
        <div class="instrument-editor-synth__options__option poly-option">
          <div class="instrument-editor-synth__poly-switch">
            <p>Poly</p>
            <div>
              <el-switch :active-color="accentColor"
                         :inactive-color="inactiveColor"
                         v-model="poly" />
            </div>
          </div>
          <div class="instrument-editor-synth__poly-voices">
            <p>Voices</p>
            <el-input-number size="mini"
                             :min="0"
                             :disabled="!poly"
                             controls-position="right"
                             v-model="polyVoices" />
          </div>
        </div>
      </ui-card>

      <ui-card class="instrument-editor-synth__oscillator">
        <div slot="header" class="instrument-editor-synth__oscillator__type">
          <p>Oscillator</p>
          <oscillator-type v-model="wave" />
        </div>
        <div class="instrument-editor-synth__oscillator__options">
          <oscillator-frequency class="oscillator-option"
                                v-model="frequency" />
          <oscillator-detune class="oscillator-option"
                            v-model="detune" />
          <oscillator-phase class="oscillator-option"
                            v-model="phase" />
        </div>
      </ui-card>
    </div>

    <div class="instrument-editor-synth__right">
      <adsr-envelope-editor :attack.sync="attack"
                            :decay.sync="decay"
                            :sustain.sync="sustain"
                            :release.sync="release" />
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import { color } from '@/utils/color';

import AdsrEnvelopeEditor from '@/components/envelope/ADSREnvelopeEditor';
import OscillatorDetune from '@/components/oscillator/OscillatorDetune';
import OscillatorFrequency from '@/components/oscillator/OscillatorFrequency';
import OscillatorPhase from '@/components/oscillator/OscillatorPhase';
import OscillatorType from '@/components/oscillator/OscillatorType';
import WaveLine from '@/components/WaveLine';

export default {
  name: 'InstrumentEditorSynth',
  components: {
    AdsrEnvelopeEditor,
    OscillatorDetune,
    OscillatorFrequency,
    OscillatorPhase,
    OscillatorType,
    WaveLine,
  },
  props: {
    instrumentId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      waves: [
        'sine',
        'square',
        'triangle',
        'sawtooth',
      ],
    };
  },
  computed: {
    accentColor() {
      return color.yellow.lighter.hex();
    },
    inactiveColor() {
      return color.grey.dark.hex()
    },
    instrument() {
      return this.instruments[this.instrumentId];
    },
    instrumentOptions() {
      if (this.instrument) return this.instrument.options;
      return {};
    },
    envelope() {
      return this.instrumentOptions.envelope;
    },
    oscillator() {
      return this.instrumentOptions.oscillator;
    },
    volume: {
      get() {
        return this.instrumentOptions.volume || 0;
      },
      set(value) {
        this.updateInstrument('volume', value);
      },
    },
    portamento: {
      get() {
        return this.instrumentOptions.portamento || 0;
      },
      set(value) {
        this.updateInstrument('portamento', value);
      },
    },
    poly: {
      get() {
        return !!this.instrument.poly;
      },
      set(value) {
        this.update('poly', value);
      },
    },
    polyVoices: {
      get() {
        return this.instrument.polyVoices || 4;
      },
      set(value) {
        this.update('polyVoices', value);
      },
    },
    detune: {
      get() {
        return this.instrumentOptions.detune;
      },
      set(value) {
        this.updateInstrument('detune', value);
      },
    },
    frequency: {
      get() {
        return this.instrumentOptions.frequency;
      },
      set(value) {
        this.updateInstrument('frequency', value);
      },
    },
    wave: {
      get() {
        return this.oscillator.type;
      },
      set(value) {
        this.updateOscillator('type', value);
      },
    },
    phase: {
      get() {
        return this.oscillator.phase;
      },
      set(value) {
        this.updateOscillator('phase', value);
      },
    },
    attack: {
      get() {
        return this.envelope.attack;
      },
      set(value) {
        this.updateEnvelope('attack', value);
      },
    },
    decay: {
      get() {
        return this.envelope.decay;
      },
      set(value) {
        this.updateEnvelope('decay', value);
      },
    },
    sustain: {
      get() {
        return this.envelope.sustain;
      },
      set(value) {
        this.updateEnvelope('sustain', value);
      },
    },
    release: {
      get() {
        return this.envelope.release;
      },
      set(value) {
        this.updateEnvelope('release', value);
      },
    },
    ...mapState('instruments', {
      instruments: 'index',
    }),
  },
  methods: {
    update(key, value) {
      const id = this.instrumentId;
      this.updateKey({ id, key, value });
    },
    updateInstrument(key, value) {
      const id = this.instrumentId;
      this.updateOption({ id, key, value });
    },
    updateEnvelope(key, value) {
      this.updateInstrument(`envelope.${key}`, value);
    },
    updateOscillator(key, value) {
      this.updateInstrument(`oscillator.${key}`, value);
    },
    ...mapMutations('instruments', {
      updateKey: 'update',
      updateOption: 'updateOption',
      updateType: 'updateType',
    }),
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";

.instrument-editor-synth {
  display: flex;
  // height: 100%;
  // justify-content: stretch;
  // height:

  &__left {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 8px;

    margin-right: 5px;
  }

  &__right {
    margin-left: 5px;
  }

  &__options {
    margin-bottom: 5px;

    .ui-card__body {
      display: flex;
      justify-content: space-between;
    }
  }

  &__poly-switch {
    display: flex;
    align-items: center;

    margin-bottom: 5px;
  }

  .poly-option {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }

  &__poly-switch,
  &__poly-voices {
    p {
      color: $white;
      font-size: .8em;

      margin: 0;
      margin-right: 8px;
    }
  }

  &__poly-voices {
    .el-input-number {
      width: 90px;
    }
  }

  &__oscillator {
    &__type {
      p {
        margin: 0;
        margin-bottom: 5px;

        font-size: .8em;
      }
    }

    &__options {
      display: flex;
      justify-content: space-around;
    }
  }
}
</style>
