<template>
  <component :is="editor" :instrument-id="instrumentId" />
</template>

<script>
import { mapState } from 'vuex';

import InstrumentEditorSynth from './InstrumentEditorSynth';

const EDITOR_COMPONENTS = {
  synth: InstrumentEditorSynth,
};

export default {
  name: 'InstrumentEditor',
  props: {
    instrumentId: {
      type: String,
      required: true,
    },
  },
  computed: {
    instrument() {
      return this.instruments[this.instrumentId];
    },
    type() {
      if (this.instrument) return this.instrument.type;
    },
    editor() {
      return EDITOR_COMPONENTS[this.type];
    },
    ...mapState('instruments', {
      instruments: 'index',
    }),
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";
</style>
