<template>
  <div class="control-bar">
    <div class="control-bar__group control-bar__tempo">
      <div class="control-bar__group__actions">
        <ui-button type="text" size="mini">TAP</ui-button>
        <div>128.00 BPM</div>
        <ui-button type="text" size="mini">Metronome</ui-button>
      </div>
    </div>

    <div class="control-bar__group control-bar__transport">
      <div class="control-bar__group__actions">
        <div>{{ time }}</div>
        <ui-button :type="playing ? 'primary' : 'text'"
                   icon="play"
                   size="mini"
                   @click="togglePlay" />
        <ui-button type="text"
                   icon="stop"
                   size="mini"
                   @click="toggleStop" />
      </div>
    </div>

    <div class="control-bar__group control-bar__loop">
      <div class="control-bar__group__actions">
        <div>{{ loopStart }}</div>
        <ui-button :type="loop ? 'primary' : 'text'"
                   icon="retweet"
                   size="mini"
                   @click="toggleLoop" />
        <div>{{ loopEnd }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapState } from 'vuex';

export default {
  computed: {
    ...mapState('transport', {
      playing: 'playing',
      loop: 'loop',
    }),
    ...mapGetters('transport', {
      time: 'time',
      loopStart: 'loopStart',
      loopEnd: 'loopEnd',
    }),
  },
  methods: {
    togglePlay() {
      this.playing ? this.stop() : this.play();
    },
    toggleStop() {
      if (this.playing) {
        this.stop();
      } else {
        this.setTime({ time: 0 });
      }
    },
    toggleLoop() {
      const loop = !this.loop;
      this.setLoop({ loop });
    },
    ...mapMutations('transport', {
      play: 'play',
      stop: 'stop',
      setLoop: 'loop',
      setTime: 'setTime',
    }),
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";

.control-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: $white;
  padding: 4px 8px;
  background-color: $black-dark;

  &__title {
    h3 {
      margin: 0;
    }
  }

  &__group {
    display: flex;
    flex-flow: column;

    h5 {
      margin: 0;
      font-size: .85em;
      border-bottom: 2px solid $white;
    }

    &__actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > * {
        font-size: 14px;

        &,
        .el-button--text {
          color: white;
        }

        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }
  }
}
</style>
