<template>
  <v-group>
    <v-rect ref="note"
            :config="config"
            @click="selectNote"
            @dblclick="deleteNote"
            @mouseenter="onHover"
            @mouseleave="onLeave"
            @dragstart="onDrag"
            @dragend="updateNotePosition"
            @transform="updateNoteDuration"
            @transformend="transformEnd" />
    <v-transformer ref="transformer"
                   :config="transformerConfig" />
  </v-group>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from 'vuex';
import { color } from '@/utils/color';

export default {
  inject: ['updateCursor'],
  props: {
    noteId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      dragging: false,
      hovering: false,
      transformerConfig: {
        anchorSize: 8,
        anchorFill: color.black.lighter(),
        anchorStroke: color.black.light(),
        anchorStrokeWidth: 1,
        enabledAnchors: ['middle-left', 'middle-right'],
        rotateEnabled: false,
      },
    };
  },
  computed: {
    midiNote() {
      return this.midiNotes[this.noteId];
    },
    rowIndex() {
      const { note } = this.midiNote;
      return this.notesInView.findIndex(({ pitch, letter }) =>
        pitch === note.pitch && letter === note.letter,
      );
    },
    x() {
      const start = this.midiNote.start
      return (this.cellWidth * (start / this.cellTime)) + this.offsetX;
    },
    y() {
      return this.height * this.rowIndex;
    },
    width() {
      return this.cellWidth * (this.midiNote.duration / this.cellTime);
    },
    selected() {
      return this.selectedNote === this.noteId;
    },
    fill() {
      if (this.selected && this.hovering) return color.yellow.darker();
      if (this.selected) return color.yellow.dark();
      if (this.hovering) return color.yellow();

      return color.yellow.light();
    },
    config() {
      const offsetX = this.offsetX;
      const editorEdgeX = (this.cellWidth * this.numCellsWide) + offsetX;
      const maxY = (this.notesVisible * this.height) - this.height;

      return {
        x: this.x,
        y: this.y,
        height: this.height,
        width: this.width,
        fill: this.fill,
        stroke: color.yellow.darker(),
        strokeWidth: 1,
        opacity: this.dragging ? 0.6 : 1,
        perfectDrawEnabled: false,
        draggable: true,
        dragBoundFunc(pos) {
          const { x: absX, y: absY } = this.getAbsolutePosition();

          const x = (pos.x < offsetX) || (pos.x > editorEdgeX) ? absX : pos.x;
          const y = pos.y >= maxY ? absY : pos.y;

          return { x, y };
        },
      };
    },
    ...mapState('midi/notes', {
      midiNotes: 'index'
    }),
    ...mapState('midi/editor', {
      numCellsWide: 'gridCellsX',
      notesVisible: 'gridCellsY',
      selectedNote: 'selectedNote',
    }),
    ...mapGetters('midi/editor', {
      height: 'gridCellHeight',
      offsetX: 'gridCellXOffset',
      cellTime: 'gridCellTimeValue',
      cellWidth: 'gridCellWidth',
      notesInView: 'gridKeyNotes',
    }),
  },
  watch: {
    selected(newVal, oldVal) {
      if (oldVal && !newVal) {
        const transformer = this.$refs.transformer.getStage();

        if (transformer) {
          transformer.detach();
          transformer.getLayer().batchDraw();
        }
      }
    },
  },
  methods: {
    selectNote() {
      if (this.selected) return;
      this.setSelectedNote({ id: this.noteId });

      const note = this.$refs.note.getStage();
      const transformer = this.$refs.transformer.getStage();
      if (note && transformer && transformer.node() !== note) {
        transformer.attachTo(note);
        transformer.getLayer().batchDraw();
      }
    },
    onHover() {
      this.hovering = true;
      this.updateCursor('grab');
    },
    onLeave() {
      this.hovering = false;
      this.updateCursor('default');
    },
    onDrag() {
      this.dragging = true;
      this.updateCursor('grabbing')
    },
    updateNotePosition({ target }) {
      this.dragging = false;
      this.updateCursor('grab');

      if (!target) return;
      const { attrs: { x, y } } = target;

      const id = this.noteId;
      const note = this.notesInView[Math.round(y / this.notesVisible)];
      const start = ((x - this.offsetX) / this.cellWidth) * this.cellTime;

      this.updateNote({ id, key: 'note', value: note });
      this.updateNote({ id, key: 'start', value: start });
    },
    updateNoteDuration({ evt }) {
      const transformer = this.$refs.transformer.getStage();
      const x = this.$refs.note.getStage().x();
      const width = evt.offsetX - x;

      const id = this.noteId;
      const start = ((x - this.offsetX) / this.cellWidth) * this.cellTime;
      const duration = (width / this.cellWidth) * this.cellTime;

      this.updateNote({ id, key: 'start', value: start });
      this.updateNote({ id, key: 'duration', value: duration });
    },
    deleteNote() {
      const id = this.noteId;
      this.deleteMidiNote({ id });
    },
    transformEnd() {
      console.log('tranform end');
    },
    ...mapActions('midi/notes', { deleteMidiNote: 'delete' }),
    ...mapMutations('midi/editor', ['setSelectedNote']),
    ...mapMutations('midi/notes', { updateNote: 'update' }),
  },
};
</script>
