<template>
  <v-group @click="deselectNote"
           @dblclick="createNote">
    <midi-editor-grid-row v-for="(note, index) in notes"
                          :key="`${index}-grid-row`"
                          :note="note"
                          :index="index" />
  </v-group>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from 'vuex';

import MidiEditorGridRow from './MidiEditorGridRow';

export default {
  components: {
    MidiEditorGridRow,
  },
  computed: {
    ...mapState('arrangement', {
      clip: 'editorItem',
    }),
    ...mapState('midi/editor', {
      cellsX: 'gridCellsX',
      cellsY: 'gridCellsY',
      selected: 'selectedNote',
    }),
    ...mapGetters('midi/editor', {
      cellXOffset: 'gridCellXOffset',
      cellWidth: 'gridCellWidth',
      cellTime: 'gridCellTimeValue',
      notes: 'gridKeyNotes',
    }),
  },
  methods: {
    deselectNote() {
      if (this.selected) this.setSelectedNote({ id: undefined });
    },
    createNote({ target }) {
      this.deselectNote();

      if (!target || target.className !== 'Rect') return;
      const { attrs: { x, y, width } } = target;

      const note = this.notes[y / this.cellsY];
      const start = ((x - this.cellXOffset) / this.cellWidth) * this.cellTime;
      const duration = (width / this.cellWidth) * this.cellTime;

      this.create({ note, start, duration, clipId: this.clip.id });
    },
    ...mapActions('midi/notes', {
      create: 'create',
    }),
    ...mapMutations('midi/editor', ['setSelectedNote']),
  },
};
</script>
