<template>
  <v-group>
    <midi-editor-grid-cell v-for="(cell, cellIndex) in cells"
                           :key="cell.num"
                           :num="cell.num"
                           :index="cellIndex"
                           :row-index="index" />
  </v-group>
</template>

<script>
import { splitEvery, range } from 'ramda';
import { mapGetters, mapState } from 'vuex';

import MidiEditorGridCell from './MidiEditorGridCell';

export default {
  components: {
    MidiEditorGridCell,
  },
  props: {
    note: {
      type: Object,
      required: true,
    },
    index: {
      type: Number,
      required: true,
    },
  },
  computed: {
    ...mapGetters('midi/editor', { cells: 'gridClipCells' }),
  },
};
</script>
