<template>
  <v-text :config="config" />
</template>

<script>
import { mapGetters } from 'vuex';
import { color } from '@/utils/color';

export default {
  props: {
    letter: {
      type: String,
      required: true,
    },
    pitch: {
      type: Number,
      required: true,
    },
    index: {
      type: Number,
      required: true,
    },
  },
  computed: {
    config() {
      return {
        text: `${this.letter}${this.pitch}`,
        y: ((this.height * this.index) + (this.height / 4)) - 2,
        height: this.height,
        width: 30,
        fontSize: 9,
        padding: 2,
        align: 'left',
        fill: color.grey.darker(),
        listening: false,
      };
    },
    ...mapGetters('midi/editor', {
      height: 'gridCellHeight',
    }),
  },
};
</script>
