<template>
  <v-rect ref="key"
          :config="config"
          @mousedown="pressed = true"
          @mouseup="pressed = false"
          @mouseover="hovering = true"
          @mouseleave="hovering = false" />
</template>

<script>
import { color } from '@/utils/color';
import { isSharp } from '@/utils/notes';

export default {
  props: {
    letter: {
      type: String,
      required: true,
    },
    pitch: {
      type: Number,
      required: true,
    },
    index: {
      type: Number,
      required: true,
    },
    offset: {
      type: Number,
      default: 0,
    },
    height: {
      type: Number,
      default: 20,
    },
    width: {
      type: Number,
      default: 75,
    },
    label: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      hovering: false,
      pressed: false,
    };
  },
  computed: {
    fill() {
      const modifiers = { opacity: this.hovering ? 0.8 : 1 };
      const generator = isSharp(this.letter) ? color.black : color.white;

      return generator(modifiers);
    },
    note() {
      return `${this.letter}${this.pitch}`;
    },
    config() {
      return {
        x: this.offset,
        y: this.height * this.index,
        fill: this.fill,
        height: this.height,
        width: this.width,
        stroke: 'black',
        strokeWidth: 1,
      };
    },
  },
  watch: {
    hovering() {
      this.$emit('hover', this.hovering);
    },
    pressed() {
      const evt = this.pressed
        ? 'pressed'
        : 'released';

      this.$emit(evt, {
        note: this.note,
        letter: this.letter,
        pitch: this.pitch,
      });
    },
  },
};
</script>
