<template>
  <v-group>
    <v-group>
      <midi-keyboard-label v-for="(note, index) in notes"
                           :key="`${note.letter}${note.pitch}-label`"
                           :letter="note.letter"
                           :pitch="note.pitch"
                           :index="index" />
    </v-group>
    <v-group @mouseenter="setCursor('pointer')"
             @mouseleave="resetCursor">
      <midi-keyboard-key v-for="(note, index) in notes"
                         :key="`${note.letter}${note.pitch}-key`"
                         :letter="note.letter"
                         :pitch="note.pitch"
                         :height="height"
                         :width="75"
                         :index="index"
                         :offset="30"
                         @pressed="keyPressed"
                         @released="keyReleased" />
    </v-group>
  </v-group>
</template>

<script>
import Tone from 'tone';
import { mapGetters, mapState } from 'vuex';
import { NOTES } from '@/utils/constants/notes';
import { color } from '@/utils/color';

import MidiKeyboardKey from './MidiKeyboardKey';
import MidiKeyboardLabel from './MidiKeyboardLabel';

export default {
  inject: ['updateCursor'],
  components: {
    MidiKeyboardKey,
    MidiKeyboardLabel,
  },
  props: {
    keyWidth: {
      type: Number,
      default: 75,
    },
  },
  data() {
    return {
      cursorUpdateTimeout: undefined,
    };
  },
  computed: {
    ...mapGetters('midi/editor', {
      height: 'gridCellHeight',
      notes: 'gridKeyNotes',
    }),
  },
  methods: {
    keyLabelConfig(note, index) {
      return {
        text: `${note.letter}${note.pitch}`,
        y: ((this.height * index) + (this.height / 4)) - 2,
        height: this.height,
        width: 30,
        fontSize: 9,
        padding: 2,
        align: 'left',
        fill: color.grey.darker(),
        listening: false,
      };
    },
    setCursor(type) {
      this.updateCursor(type);
    },
    // updateCursor(type = 'pointer') {
    //   this.$emit('update:cursor', 'pointer')
    // },
    resetCursor() {
      this.updateCursor();
      // this.$emit('update:cursor', 'default');
    },
    keyHover(hovering) {
      if (hovering) {
        if (this.cursorUpdateTimeout) clearTimeout(this.cursorUpdateTimeout);
        this.$emit('update:cursor', 'pointer');
      } else {
        this.cursorUpdateTimeout = setTimeout(() => {
          this.$emit('update:cursor', 'default');
        }, 115);
      }
    },
    keyPressed(key) {
      this.$emit('key:pressed', key);
    },
    keyReleased(key) {
      this.$emit('key:released', key);
    },
  },
};
</script>
