<template>
  <div ref="editor"
       class="midi-editor"
       tabindex="1"
       @click="focusEditor"
       @wheel="noteScrollHandler">
    <v-stage ref="stage" :config="config">
      <v-layer>
        <midi-keyboard @key:pressed="keyPressed"
                       @key:released="keyReleased"
                       @update:cursor="updateCursor" />
      </v-layer>

      <v-layer>
        <midi-editor-grid />
      </v-layer>

      <v-layer>
        <midi-editor-note v-for="midiNote in midiNotes"
                          :key="midiNote.id"
                          :note-id="midiNote.id" />
      </v-layer>
    </v-stage>
  </div>
</template>

<script>
import Tone from 'tone';
import { mapGetters, mapMutations, mapState } from 'vuex';
import { NOTES } from '@/utils/constants/notes';
import { debounce } from '@/utils/functions';

import MidiEditorGrid from './MidiEditorGrid';
import MidiEditorNote from './MidiEditorNote';
import MidiKeyboard from './MidiKeyboard';

export default {
  provide() {
    return {
      updateCursor: this.updateCursor,
    };
  },
  components: {
    MidiEditorGrid,
    MidiEditorNote,
    MidiKeyboard,
  },
  props: {
    clipId: {
      type: String,
      required: true,
    },
  },
  computed: {
    clip() {
      return this.clips[this.clipId];
    },
    config() {
      const width = this.width;
      const height = this.height;

      return { width, height };
    },
    instrument() {
      return this.$daw.store.getInstrument(this.track.instrumentId);
    },
    noteScrollHandler() {
      return debounce(30, (wheelEvent) =>
        this.scrollVisibleNotes({ wheelEvent }),
      );
    },
    ...mapState('clips', { clips: 'index' }),
    ...mapState('midi/editor', {
      height: 'gridHeight',
      width: 'gridWidth',
    }),
    ...mapGetters('arrangement', {
      track: 'currentTrack',
    }),
    ...mapGetters('midi/editor', {
      notes: 'gridKeyNotes',
      midiNotes: 'gridMidiNotes',
    }),
  },
  mounted() {
    const width = this.$refs.editor.offsetWidth;
    const height = this.$refs.editor.offsetHeight;

    this.setGridDimensions({ width, height });
  },
  methods: {
    focusEditor() {
      const el = this.$refs.editor;
      el.focus();
    },
    updateCursor(type = 'default') {
      this.$refs.stage.getNode().container().style.cursor = type;
    },
    keyPressed({ note }) {
      this.instrument.node.triggerAttack(note);
    },
    keyReleased({ note }) {
      if (this.instrument.poly) {
        this.instrument.node.triggerRelease(note);
      } else {
        this.instrument.node.triggerRelease();
      }
    },
    ...mapMutations('midi/editor', [
      'setGridDimensions',
      'scrollVisibleNotes',
    ]),
  },
};
</script>

<style lang="scss">
.midi-editor {
  margin: 0 8px;
}
</style>
