<template>
  <v-rect :config="config" />
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import { color } from '@/utils/color';

export default {
  props: {
    num: {
      type: Number,
      required: true,
    },
    index: {
      type: Number,
      required: true,
    },
    rowIndex: {
      type: Number,
      required: true,
    },
  },
  computed: {
    x() {
      return (this.width * this.index) + this.xOffset;
    },
    y() {
      return this.height * this.rowIndex;
    },
    fill() {
      return (this.startIndex + this.rowIndex) % 2 === 0
        ? color.grey()
        : color.grey.dark();
    },
    config() {
      return {
        x: this.x,
        y: this.y,
        height: this.height,
        width: this.width,
        fill: this.fill,
        stroke: color.grey.darker(),
        strokeWidth: 1,
        opacity: 1,
        perfectDrawEnabled : false,
      };
    },
    ...mapState('midi/editor', {
      startIndex: 'keyStartIndex',
    }),
    ...mapGetters('midi/editor', {
      width: 'gridCellWidth',
      height: 'gridCellHeight',
      xOffset: 'gridCellXOffset',
    })
  },
};
</script>
