<template>
  <div id="arrangement" class="arrangement">
    <header id="control-bar" class="arrangement__header">
      <control-bar />
    </header>
    <main id="arrangement-body" class="arrangement__main">
      <section id="tracks" class="arrangement__tracks">
        <track-row v-for="track in tracks"
                   :id="track.id"
                   :key="track.id" />
      </section>
    </main>
    <section id="editor"
             class="arrangement__editor"
             v-if="editorItem">
      <arrangement-editor :item="editorItem" />
    </section>
    <!-- <footer class="arrangement__footer">
    </footer> -->
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from 'vuex';

import ArrangementEditor from '@/components/ArrangementEditor';
import ControlBar from '@/components/control-bar/ControlBar';
import Track from '@/components/Track';

export default {
  components: {
    ArrangementEditor,
    ControlBar,
    TrackRow: Track,
  },
  computed: {
    ...mapGetters('tracks', ['tracks']),
    ...mapState('arrangement', ['editorItem']),
  },
  async created() {
    const track = await this.createTrack({
      type: 'midi',
      name: 'MIDI Track 1',
      pan: 0,
      volume: 0,
      mute: false,
      solo: false,
      instrumentId: undefined,
      clips: [],
      effects: [],
    });

    const instrument = await this.createInstrument({
      type: 'synth',
      trackId: track.id,
      poly: false,
      polyVoices: 4,
      options: {
        detune: 0,
        frequency: 440,
        oscillator: {
          type: 'sine',
          phase: 0,
        },
        envelope: {
          attack: 0.005,
          decay: 0.1,
          sustain: 0.3,
          release: 1,
        },
        volume: 0,
        portamento: 0,
      },
    });

    const distortion = await this.createEffect({
      type: 'distortion',
      trackId: track.id,
      options: {
        distortion: 0.4,
        oversample: 'none',
      },
    });

    // const tremolo = await this.createEffect({
    //   type: 'tremolo',
    //   trackId: track.id,
    //   options: {
    //     frequency: 10,
    //     type: 'sine',
    //     depth: 0.5,
    //     spread: 180
    //   },
    // });

    const feedbackDelay = await this.createEffect({
      type: 'feedbackDelay',
      trackId: track.id,
      options: {
        delayTime: 0.25,
        feedback: 0.125,
      },
    });

    const clip = await this.createClip({
      start: 0,
      length: 4,
      trackId: track.id,
    });

    const notes = [
      { note: { letter: 'D', pitch: 4 }, start: 0, duration: '4n' },
      { note: { letter: 'E', pitch: 4 }, start: 0, duration: '4n' },
      { note: { letter: 'F', pitch: 4 }, start: 0, duration: '4n' },
      { note: { letter: 'G', pitch: 4 }, start: 0, duration: '4n' },
      { note: { letter: 'A', pitch: 4 }, start: 0, duration: '4n' },
      { note: { letter: 'A#', pitch: 4 }, start: 0, duration: '4n' },
      { note: { letter: 'C', pitch: 5 }, start: 0, duration: '4n' },
      { note: { letter: 'D', pitch: 5 }, start: 0, duration: '4n' },
      { note: { letter: 'D', pitch: 4 }, start: 0, duration: '4n' },
      { note: { letter: 'E', pitch: 4 }, start: 0, duration: '4n' },
      { note: { letter: 'F', pitch: 4 }, start: 0, duration: '4n' },
      { note: { letter: 'G', pitch: 4 }, start: 0, duration: '4n' },
      { note: { letter: 'A', pitch: 4 }, start: 0, duration: '4n' },
      { note: { letter: 'A#', pitch: 4 }, start: 0, duration: '4n' },
      { note: { letter: 'C', pitch: 5 }, start: 0, duration: '4n' },
      { note: { letter: 'D', pitch: 5 }, start: 0, duration: '4n' },
    ].map(({ duration, ...note }, index) => ({
      ...note,
      duration: new Tone.Time(duration).toSeconds(),
      start: index * new Tone.Time('4n').toSeconds(),
      clipId: clip.id,
    })).map(midiNote => this.createMidiNote(midiNote));
  },
  methods: {
    ...mapActions('effects', {
      createEffect: 'create',
    }),
    ...mapActions('clips', {
      createClip: 'create',
    }),
    ...mapActions('instruments', {
      createInstrument: 'create',
    }),
    ...mapActions('midi/notes', {
      createMidiNote: 'create',
    }),
    ...mapActions('tracks', {
      createTrack: 'create',
    }),
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";

.arrangement {
  min-height: 100%;

  display: flex;
  flex-direction: column;

  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: 60px auto-fill minmax(20vh, 1fr);
  // grid-template-areas: "header" "main" "editor";

  &__header {
    margin-bottom: 8px;
  }

  &__main {
    flex: 1 auto;
    padding: 0 8px;
  }

  &__editor {
    // padding: 12px 8px;
    background-color: $black-light;
  }
}
</style>
