<template>
  <div class="degrees-knob"
       @dblclick.capture="$emit('input', 180)">
    <ui-knob :min="0"
             :max="360"
             :step="2"
             :size="40"
             :value="value"
             @input="val => $emit('input', val)">
      <template v-slot:label>
        <slot name="label">Degrees</slot>
      </template>

      <template v-slot="{ value }">
        {{ value }} deg
      </template>
    </ui-knob>
  </div>
</template>

<script>
export default {
  name: 'DegreesKnob',
  props: {
    value: {
      type: Number,
      required: true,
      validator: val => val >= 0 && val <= 360,
    },
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";
</style>
