<template>
  <div class="delay-time-knob"
       @dblclick.capture="$emit('input', 0.25)">
    <ui-knob :min="min"
             :max="max"
             :step="min * 2"
             :size="40"
             :value="value"
             @input="val => $emit('input', val)">
      <span slot="label">
        <slot name="label">Delay Time</slot>
      </span>
      <span slot-scope="{ value }">
        {{ (value * 1000).toFixed(1) }} ms
      </span>
    </ui-knob>
  </div>
</template>

<script>
import Tone from 'tone';

const toSeconds = val => new Tone.Time(val).toSeconds();

export default {
  name: 'DelayTimeKnob',
  props: {
    value: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      min: toSeconds('64n'),
      max: toSeconds('1n'),
    };
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";
</style>
