<template>
  <div class="feedback-knob"
       @dblclick.capture="$emit('input', 0.125)">
    <ui-knob :min="0"
             :max="1"
             :step="0.01"
             :size="40"
             :value="value"
             @input="val => $emit('input', val)">
      <span slot="label">
        <slot name="label">Feedback</slot>
      </span>
      <span slot-scope="{ value }">
        {{ Math.round(value * 100) }}%
      </span>
    </ui-knob>
  </div>
</template>

<script>
export default {
  name: 'FeedbackKnob',
  props: {
    value: {
      type: Number,
      required: true,
    },
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";
</style>
