<template>
  <div class="frequency-knob"
       @dblclick.capture="$emit('input', 10)">
    <ui-knob :min="0"
             :max="3000"
             :step="10"
             :size="40"
             :value="value"
             @input="val => $emit('input', val)">
      <template v-slot:label>
        <slot name="label">Frequency</slot>
      </template>
      <template v-slot="{ value }">
        {{ value }} Hz
      </template>
    </ui-knob>
  </div>
</template>

<script>
export default {
  name: 'FrequencyKnob',
  props: {
    value: {
      type: Number,
      required: true,
      validator: n => n >= 0 && n <= 3000,
    },
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";
</style>
