<template>
  <div class="normal-range-knob"
       @dblclick.capture="$emit('input', 0.5)">
    <ui-knob :min="0"
             :max="1"
             :step="0.01"
             :size="40"
             :value="value"
             @input="val => $emit('input', val)">
      <template v-slot:label>
        <slot name="label" />
      </template>

      <template v-slot="{ value }">
        {{ Math.round(value * 100) }}%
      </template>
    </ui-knob>
  </div>
</template>

<script>
export default {
  name: 'NormalRangeKnob',
  props: {
    value: {
      type: Number,
      required: true,
      validator: val => val >= 0 && val <= 1,
    },
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";
</style>
