<template>
  <div class="oversample-select">
    <ui-button-select :options="['none', '2x', '4x']"
                      v-model="selected">
      <template v-slot:label>
        <slot name="label">Oversample</slot>
      </template>
    </ui-button-select>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: 'none',
      validator: val => ['none', '2x', '4x'].includes(val),
    },
  },
  computed: {
    selected: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
};
</script>
