<template>
  <div class="volume-knob"
       @dblclick.capture="$emit('input', 0)">
    <ui-knob :min="-1"
             :max="1"
             :step="0.01"
             :size="40"
             :value="value"
             @input="val => $emit('input', val)">
      <span slot="label">
        <slot name="label">Pan</slot>
      </span>
      <span slot-scope="{ value: pan }">
        {{ formatValue(pan) }}
      </span>
    </ui-knob>
  </div>
</template>

<script>
export default {
  name: 'PanKnob',
  props: {
    value: {
      type: Number,
      required: true,
      validator: val => val >= -1 && val <= 1,
    },
  },
  methods: {
    formatValue(val) {
      if (val === 0) return 'C';

      const amount = Math.round(Math.abs(val) * 100);
      const direction = val < 0 ? 'L' : 'R';

      return `${amount}% ${direction}`;
    },
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";
</style>
