<template>
  <div class="volume-knob"
       @dblclick.capture="$emit('input', 0)">
    <ui-knob :min="-10"
             :max="10"
             :step="0.1"
             :size="40"
             :value="value"
             @input="val => $emit('input', val)">
      <span slot="label">
        <slot name="label">Volume</slot>
      </span>
      <span slot-scope="{ value }">
        {{ value.toFixed(1) }} dB
      </span>
    </ui-knob>
  </div>
</template>

<script>
export default {
  name: 'VolumeKnob',
  props: {
    value: {
      type: Number,
      required: true,
    },
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";
</style>
