<template>
  <keep-alive>
    <component :is="editorComponent" />
  </keep-alive>
</template>

<script>
import ClipEditor from'./ClipEditor';
import TrackEditor from './TrackEditor';

const getEditorComponent = type => ({
  clip: ClipEditor,
  track: TrackEditor,
}[type])

export default {
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    editorComponent() {
      if (!this.item || !this.item.type) return 'span';
      return getEditorComponent(this.item.type);
    },
  },
};
</script>
