<template>
  <div class="clip-settings">
    <div class="clip-settings__name">
      <el-popover placement="bottom"
                  width="250"
                  trigger="click">
        <el-input v-model="name" />

        <h5 slot="reference">{{ name }}</h5>
      </el-popover>
    </div>

    <div class="clip-settings__length">
      <label>Length</label>
      <el-input-number :min="1"
                       size="small"
                       v-model="length" />
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';

export default {
  props: {
    clipId: {
      type: String,
      required: true,
    },
  },
  computed: {
    clip() {
      return this.clips[this.clipId];
    },
    name: {
      get() {
        return this.clip.name;
      },
      set(value) {
        this.updateClip('name', value);
      },
    },
    length: {
      get() {
        return this.clip.length;
      },
      set(value) {
        this.updateClip('length', value);
      },
    },
    ...mapState('clips', { clips: 'index' }),
  },
  methods: {
    updateClip(key, value) {
      this.update({
        id: this.clipId,
        key,
        value,
      });
    },
    ...mapMutations('clips', ['update']),
  },
};
</script>
