<template>
  <div class="clip-editor" v-if="clip">
    <section class="clip-editor__settings">
      <ui-panel>
        <clip-settings :clip-id="clip.id" />
      </ui-panel>
    </section>

    <section class="clip-editor__edit">
      <ui-panel>
        <midi-editor :clip-id="clip.id" />
      </ui-panel>
    </section>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import ClipSettings from './ClipSettings';
import MidiEditor from './midi/MidiEditor';

export default {
  name: 'ClipEditor',
  components: {
    ClipSettings,
    MidiEditor,
  },
  computed: {
    clip() {
      const clip = this.clips[this.editorItem.id];
      if (clip) return { id: this.editorItem.id, ...clip };
    },
    ...mapState('arrangement', ['editorItem']),
    ...mapState('clips', { clips: 'index' }),
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";

.clip-editor {
  display: flex;
  align-items: stretch;
  justify-items: space-between;

  &__settings {
    flex: 1 calc(100vh - 75%);
    margin-right: 8px;

    h5 {
      margin: 8px 0;
    }
  }

  &__edit {
    flex: 2 1 calc(100vh - 25%);
  }
}
</style>
