<template>
  <div ref="menu"
       class="context-menu-container"
       :style="menuStyle">
    <component :is="contextMenu.component"
               v-bind="contextMenu.props || {}"
               v-if="contextMenu" />
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';

export default {
  computed: {
    menuStyle() {
      if (!this.contextMenu) return { display: 'none' };
      return {
        top: `${this.contextMenu.position.y}px`,
        left: `${this.contextMenu.position.x}px`,
        position: 'absolute',
      };
    },
    ...mapState(['contextMenu']),
  },
  created() {
    const prevKeydown = document.onkeydown;
    document.onkeydown = evt => {
      if (prevKeydown) prevKeydown(evt);
      if (evt.key === 'Escape' && this.contextMenu) this.closeContextMenu();
    }

    const prevClick = document.onclick;
    document.onclick = evt => {
      if (prevClick) prevClick(evt);

      if (this.contextMenu) {
        const xLeftBound = this.contextMenu.position.x;
        const xRightBound = xLeftBound + this.$refs.menu.offsetWidth;
        const yUpperBound = this.contextMenu.position.y;
        const yLowerBound = yUpperBound + this.$refs.menu.offsetHeight;

        const isInMenu = (x, y) =>
          (x >= xLeftBound && x <= xRightBound) &&
          (y >= yUpperBound && y <= yLowerBound);

        if (!isInMenu(evt.x, evt.y)) this.closeContextMenu();
      }
    }
  },
  methods: {
    ...mapMutations('interface', ['closeContextMenu']),
  },
};
</script>

<style lang="scss">
@import "../assets/color";
@import "../assets/common";

.context-menu-container {
  width: 175px;

  color: $white;
  background-color: $black-light;
}
</style>
