<template>
  <v-stage :config="stageConfig">
    <v-layer>
      <v-line :config="attackLineConfig" />
      <v-line :config="decayLineConfig" />
      <v-line :config="sustainLineConfig" />
      <v-line :config="releaseLineConfig" />
    </v-layer>
  </v-stage>
</template>

<script>
import { ADSR } from '@/utils/constants/adsr';
import { buildADSREnvelope } from '@/utils/envelope';

export default {
  props: {
    envelope: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      stageConfig: {
        height: ADSR.GRAPH.DEFAULTS.HEIGHT,
        width: ADSR.GRAPH.DEFAULTS.WIDTH,
      },
      commonLineConfig: ADSR.GRAPH.CURVE.DEFAULTS,
    };
  },
  computed: {
    linePoints() {
      return buildADSREnvelope(this.envelope);
    },
    attackLineConfig() {
      const { attack } = this.linePoints;
      const points = Array.from(attack.points || [])
      return { ...this.commonLineConfig, ...attack, points };
    },
    decayLineConfig() {
      const { decay } = this.linePoints;
      const points = Array.from(decay.points || [])
      return { ...this.commonLineConfig, ...decay, points };
    },
    sustainLineConfig() {
      const { sustain } = this.linePoints;
      const points = Array.from(sustain.points || [])
      return { ...this.commonLineConfig, ...sustain, points };
    },
    releaseLineConfig() {
      const { release } = this.linePoints;
      const points = Array.from(release.points || [])
      return { ...this.commonLineConfig, ...release, points };
    },
  },
};
</script>

<style lang="scss">
</style>
