<template>
  <ul class="track-timeline-context-menu context-menu">
    <li @click="clicked">test</li>
  </ul>
</template>

<script>
export default {
  methods: {
    clicked() {
      console.log('clicked');
    },
  },
};
</script>
