<template>
  <div class="timeline">
    <v-stage ref="stage" :config="stageConfig" @click.right="openMenu">
      <v-layer ref="background">
        <v-rect v-for="(cfg, i) in backgroundConfigs"
                :key="i"
                :config="cfg" />
      </v-layer>
      <v-layer ref="selection">
        <v-rect :config="selectionConfig" />
      </v-layer>
      <v-layer ref="nodes">
        <v-rect v-for="(cfg, i) in nodeConfigs"
                :key="i"
                :config="cfg"
                @click="nodeLeftClick"
                @mousedown="({ evt: e }) => nodeMousedown(i, e)"
                @mouseup="nodeMouseup"
                @mouseover="() => setEnteredNode({ id: i, track: trackId })" />
      </v-layer>
      <v-layer ref="clips">
        <timeline-clip-midi v-for="clip in track.clips"
                            :key="clip.id"
                            :start="clip.start"
                            :end="clip.end"
                            :clip-id="clip.id"
                            :track-id="trackId" />
      </v-layer>
    </v-stage>
  </div>
</template>

<script>
import { times } from 'ramda';
import { mapGetters, mapMutations, mapState } from 'vuex';
import trackMixin from '@/mixins/track-mixin';
import { color } from '@/utils/color';

import ContextMenu from './TimelineContextMenu';
import TimelineClipMidi from './TimelineClipMidi';

export default {
  mixins: [trackMixin],
  components: {
    TimelineClipMidi,
  },
  data() {
    return {
      stageConfig: { width: 1645, height: 135 },
      clearSelectTimeout: undefined,
    };
  },
  computed: {
    nodeConfigs() {
      return times(x => ({
        x: x * this.nodeWidth,
        width: this.nodeWidth,
        height: 125,
        opacity: 0,
      }), this.nodes);
    },
    backgroundConfigs() {
      return this.nodeConfigs.map(cfg => ({
        ...cfg,
        opacity: 1,
        fill: color.grey(),
        stroke: color.grey({ shade: 'darker' }),
        strokeWidth: 2,
      }));
    },
    selectionConfig() {
      if (!this.selection) return { x: 0, y: 0, width: 0, height: 0 };

      const { start, end } = this.selection;
      return {
        x: start * this.nodeWidth,
        width: ((end + 1) - start) * this.nodeWidth,
        height: 125,
        fill: color.purple({ shade: 'lighter', opacity: 0.3 }),
      };
    },
    ...mapGetters('timeline', ['nodeWidth', 'selection']),
    ...mapState('timeline', ['nodes', 'cursor', 'lastEnteredNode']),
  },
  methods: {
    nodeMousedown(id, e) {
      if (e.which === 1) {
        this.clearSelection()
        this.selectTimeout = setTimeout(() => this.startSelecting({ id }), 175);
      }
    },
    nodeLeftClick({ evt: e }) {
      if (e.which === 1) {
        if (this.selectTimeout) clearTimeout(this.selectTimeout);
        this.selectTimeout = undefined;
      }
    },
    nodeMouseup({ evt: e }) {
      if (this.selection && e.which === 1) this.setSelection();
    },
    openMenu({ evt: e }) {
      e.preventDefault();
      e.stopPropagation();

      const { x, y } = e;
      this.openContextMenu({
        menu: {
          position: { x, y },
          component: ContextMenu,
          props: {},
        },
      });
    },
    ...mapMutations('interface', [
      'openContextMenu',
    ]),
    ...mapMutations('timeline', [
      'startSelecting',
      'setSelection',
      'clearSelection',
      'setEnteredNode',
    ]),
  },
};
</script>
