<template>
  <v-group>
    <v-rect :config="headerConfig"
            @dblclick="editClip" />
  </v-group>
</template>

<script>
import { mapGetters, mapMutations, mapState } from 'vuex';
import { color } from '@/utils/color';
import trackMixin from '@/mixins/track-mixin';

export default {
  mixins: [trackMixin],
  props: {
    clipId: {
      type: String,
      required: true,
    },
    start: {
      type: Number,
      required: true,
    },
    end: {
      type: Number,
      required: true,
    },
  },
  computed: {
    clip() {
      return this.index[this.clipId];
    },
    baseConfig() {
      return {
        x: this.nodeWidth * (this.start - 1),
        width: (this.end - this.start) * this.nodeWidth,
      };
    },
    headerConfig() {
      return {
        ...this.baseConfig,
        height: 25,
        fill: this.clip.color,
      };
    },
    ...mapState('clips', ['index']),
    ...mapGetters('timeline', ['nodeWidth', 'selection']),
  },
  methods: {
    editClip() {
      this.setEditorItem({ id: this.clipId, type: 'clip' });
    },
    ...mapMutations('arrangement', ['setEditorItem']),
  },
};
</script>
