<template>
  <div :id="`track-${id}`"
       class="track"
       @click="setTrack">
    <ui-panel class="track__settings"
              @click="setEditorToTrack">
      <span slot="header">{{ track.name }}</span>

      <div class="track__toggles">
        <!-- <ui-button :type="enabled ? 'primary' : 'info'"
                   size="mini"
                   @click="enabled = track.mute ? false : true">
          {{ enabled ? 'Enabled' : 'Disabled' }}
        </ui-button> -->
        <q-btn size="sm"
               :push="!enabled"
               :unelevated="enabled"
               :color="enabled ? 'primary' : 'grey-6'"
               :label="enabled ? 'Enabled' : 'Enable'"
               @click="enabled = track.mute ? false : true" />
        <q-btn size="sm"
               label="Solo"
               :push="!solo"
               :unelevated="solo"
               :color="solo ? 'primary' : 'grey-6'"
               @click="solo = !solo" />
        <!-- <ui-button :type="solo ? 'primary' : 'info'"
                   size="mini"
                   @click="solo = !solo">
          Solo
        </ui-button> -->
      </div>

      <div class="track__controls">
        <volume-knob v-model="volume" />
        <pan-knob v-model="pan" />
      </div>
      <!-- <div class="track__volume">
        <ui-knob :min="-10"
                 :max="10"
                 :step="0.1"
                 :size="40"
                 v-model="volume">
          <span slot="label">
            <slot name="label">Volume</slot>
          </span>
          <span slot-scope="{ value }">
            {{ value.toFixed(1) }} dB
          </span>
        </ui-knob>
      </div> -->
    </ui-panel>
    <ui-panel class="track__timeline">
      <timeline :track-id="id" />
    </ui-panel>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';

import Timeline from './Timeline';
import PanKnob from '@/components/controls/PanKnob';
import VolumeKnob from '@/components/controls/VolumeKnob';

export default {
  components: {
    Timeline,
    PanKnob,
    VolumeKnob,
  },
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  computed: {
    track() {
      return this.tracks[this.id];
    },
    enabled: {
      get() {
        return this.track.mute ? false : true;
      },
      set(value) {
        this.updateTrack('mute', value);
      },
    },
    solo: {
      get() {
        return this.track.solo;
      },
      set(value) {
        this.updateTrack('solo', value);
      },
    },
    volume: {
      get() {
        return this.track.volume;
      },
      set(value) {
        this.updateTrack('volume', value);
      },
    },
    pan: {
      get() {
        return this.track.pan;
      },
      set(value) {
        this.updateTrack('pan', value);
      },
    },
    ...mapState('tracks', { tracks: 'index' }),
  },
  methods: {
    updateTrack(key, value) {
      const id = this.id;
      this.update({ id, key, value });
    },
    setTrack() {
      this.setCurrentTrack({ id: this.id });
    },
    setEditorToTrack() {
      this.setEditorItem({ id: this.id, type: 'track' });
    },
    ...mapMutations('arrangement', [
      'setCurrentTrack',
      'setEditorItem',
    ]),
    ...mapMutations('tracks', {
      update: 'update',
    }),
  },
};
</script>

<style lang="scss">
@import "../assets/color";
@import "../assets/common";

.track {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(150px, auto);
  grid-template-columns: 175px 1fr;

  &__settings {
    grid-row: 1;
    grid-column: 1;

    .el-card {
      &__header {
        padding: 5px;

        font-size: .9em;
        text-align: left;
        color: $white;
        border-color: $black;
        background-color: $black;
      }
    }
  }

  &__toggles {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;

    .ui-button {
      flex: 1 auto;
      margin: 0;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__timeline {
    grid-row: 1;
    grid-column: 2;

    display: flex;
    align-items: center;

    .el-card {
      &__body {
        padding: 5px 2px;
      }
    }

    .timeline {
      margin-top: 5px;
    }
  }

  .el-card {
    border-color: $grey-lighter;
    background-color: $grey-lighter;
  }
}
</style>
