<template>
  <div class="track-editor" v-if="track">
    <section class="track-editor__instrument">
      <ui-panel v-if="track.instrumentId">
        <p slot="header" style="margin: 0;">Synth</p>
        <instrument-editor :instrument-id="track.instrumentId" />
      </ui-panel>
      <ui-panel class="track-editor__instrument--empty" v-else>
        <p>No Instrument Selected</p>
      </ui-panel>
    </section>

    <div class="track-editor__divider"></div>

    <section class="track-editor__effects">
      <ui-panel class="track-editor__effects-rack">
        <template v-slot:header>
          <p style="margin: 0;">Effects Rack</p>
        </template>
        <template v-if="track.effects.length">
          <effect-editor v-for="effectId in track.effects"
                        :key="effectId"
                        :effect-id="effectId" />
        </template>
        <div class="track-editor__effects-rack--empty" v-else>
          <p>No Effects Added</p>
        </div>
      </ui-panel>
    </section>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import EffectEditor from './effect/EffectEditor';
import InstrumentEditor from './instrument/editor/InstrumentEditor';

export default {
  name: 'TrackEditor',
  components: {
    EffectEditor,
    InstrumentEditor,
  },
  computed: {
    track() {
      return this.tracks[this.editorItem.id];
    },
    ...mapState('arrangement', ['editorItem']),
    ...mapState('tracks', { tracks: 'index' }),
  },
};
</script>

<style lang="scss">
@import "../assets/color";
@import "../assets/common";

.track-editor {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  height: calc(100% - 2px);

  border-top: 2px solid $black-dark;

  &__instrument {
    flex: 0 1 35%;

    & > .ui-panel {
      height: 100%;
      background-color: $grey-lighter;

      & > .ui-panel__header {
        background-color: $black-light;
      }
    }
  }

  &__divider {
    flex: 0 0 4px;
    background-color: $black-dark;
  }

  &__effects {
    flex: 1 auto;

    & > .ui-panel {
      background-color: $grey-lighter;

      & > .ui-panel__header {
        background-color: $black-light;
      }
    }

    .ui-panel__body {
      display: flex;
      align-items: stretch;

      padding: 8px;

      & > div {
        &:not(:last-child) {
          margin-right: 16px;
        }
      }

      .effect-editor-card {
        &,
        .ui-card {
          height: 100%;
        }
      }
    }
  }
}
</style>
