<template>
  <div class="wave">
    <v-stage :config="stageConfig">
      <v-layer>
        <v-line :config="waveConfig" />
      </v-layer>
    </v-stage>
  </div>
</template>

<script>
import { color } from '@/utils/color';
import { generateWave } from '@/utils/wave';

export default {
  props: {
    wave: {
      type: String,
      default: 'sine',
    },
    width: {
      type: Number,
      default: 100,
    },
    height: {
      type: Number,
      default: 28,
    },
    color: {
      type: [String, Object],
      default: color.yellow.lighter(),
    },
  },
  computed: {
    stageConfig() {
      return { width: this.width, height: this.height };
    },
    waveConfig() {
      const points = Array.from(generateWave(this.wave, this.height, this.width));

      return {
        points,
        stroke: this.color,
        strokeWidth: 3,
        shadowForStrokeEnabled: true,
        shadowColor: color.black({ opacity: 0.5, shade: 'light' }),
        shadowOffset: { x: 0, y: 6 },
      };
    },
  },
  methods: {
    getColor(opts) {
      if (typeof opts === 'string') return color[opts].hex();
      const { color: name, shade, ...colorOpts } = opts;
      const generator = shade ? color[name][shade] : color[name];

      return generator.hex(colorOpts);
    },
  },
};
</script>
