<template>
  <div class="effect-editor-tremolo tremolo">
    <effect-editor-card :effect="effect">
      <template slot="name">Tremolo</template>

      <div class="tremolo__controls">
        <frequency-knob v-model="frequency" />
        <oscillator-type-select v-model="type" />
        <depth-knob v-model="depth" />
        <degrees-knob v-model="spread" />
        <wet-knob v-model="wet" />
      </div>
    </effect-editor-card>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';

import DegreesKnob from '@/components/controls/DegreesKnob';
import DepthKnob from '@/components/controls/DepthKnob';
import FrequencyKnob from '@/components/controls/FrequencyKnob';
import OscillatorTypeSelect from '@/components/controls/OscillatorTypeSelect';
import WetKnob from '@/components/controls/WetKnob';
import EffectEditorCard from './EffectEditorCard';

export default {
  name: 'EffectEditorTremolo',
  components: {
    DegreesKnob,
    DepthKnob,
    FrequencyKnob,
    OscillatorTypeSelect,
    WetKnob,
    EffectEditorCard,
  },
  props: {
    effectId: {
      type: String,
      required: true,
    },
  },
  computed: {
    effect() {
      return this.effects[this.effectId];
    },
    frequency: {
      get() {
        return this.effect.options.frequency;
      },
      set(value) {
        this.update('frequency', value);
      },
    },
    type: {
      get() {
        return this.effect.options.type;
      },
      set(value) {
        this.update('type', value);
      },
    },
    depth: {
      get() {
        return this.effect.options.depth;
      },
      set(value) {
        this.update('depth', value);
      },
    },
    spread: {
      get() {
        return this.effect.options.spread;
      },
      set(value) {
        this.update('spread', value);
      },
    },
    wet: {
      get() {
        return this.effect.options.wet || 1;
      },
      set(value) {
        this.update('wet', value);
      },
    },
    ...mapState('effects', { effects: 'index' }),
  },
  methods: {
    update(key, value) {
      const id = this.effectId;
      this.updateEffect({ id, key: `options.${key}`, value });
    },
    ...mapMutations('effects', {
      updateEffect: 'update',
    }),
  }
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";

.effect-editor-tremolo {
  &.tremolo {
    .tremolo__controls {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;

      & > * {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
  }
}
</style>
