<template>
  <div class="effect-editor-card">
    <ui-card color="grey-dark">
      <div slot="header" class="effect-editor-card__header">
        <span class="effect-editor-card__power">
          <ui-power-button v-model="enabled" />
        </span>
        <span class="effect-editor-card__name">
          <slot name="name" />
        </span>
      </div>

      <slot />
    </ui-card>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'EffectEditorCard',
  props: {
    effect: {
      type: Object,
    },
  },
  computed: {
    enabled: {
      get() {
        return this.effect.enabled;
      },
      set(value) {
        this.toggle(value);
      },
    },
  },
  methods: {
    toggle(value) {
      if (value) this.enableEffect({ id: this.effect.id });
      else this.disableEffect({ id: this.effect.id });
    },
    ...mapMutations('effects', {
      enableEffect: 'enable',
      disableEffect: 'disable',
    }),
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";

.effect-editor-card {
  &__header {
    font-size: .85em;
  }

  .ui-card__body {
    background-color: $grey-dark;
  }

  &__power {
    margin-right: 10px;

    .ui-button {
      padding: 4px;
    }
  }
}
</style>
