
<template>
  <div class="effect-editor-reverb">
  </div>
</template>

<script>
export default {
  name: 'EffectEditorReverb',
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";

.effect-editor-reverb {
}
</style>
