<template>
  <div class="effect-editor-distortion distortion">
    <effect-editor-card :effect="effect">
      <template v-slot:name>Distortion</template>

      <div class="distortion__controls">
        <normal-range-knob v-model="distortion">
          <template v-slot:label>Distortion</template>
        </normal-range-knob>

        <oversample-select v-model="oversample" />
        <wet-knob v-model="wet" />
      </div>
    </effect-editor-card>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';

import EffectEditorCard from './EffectEditorCard';
import NormalRangeKnob from '@/components/controls/NormalRangeKnob';
import OversampleSelect from "@/components/controls/OversampleSelect";
import WetKnob from '@/components/controls/WetKnob';

export default {
  name: "EffectEditorDistortion",
  components: {
    EffectEditorCard,
    NormalRangeKnob,
    OversampleSelect,
    WetKnob,
  },
  props: {
    effectId: {
      type: String,
      required: true,
    },
  },
  computed: {
    effect() {
      return this.effects[this.effectId];
    },
    distortion: {
      get() {
        return this.effect.options.distortion;
      },
      set(value) {
        this.update('distortion', value);
      },
    },
    oversample: {
      get() {
        return this.effect.options.oversample;
      },
      set(value) {
        this.update('oversample', value);
      },
    },
    wet: {
      get() {
        return this.effect.options.wet || 1;
      },
      set(value) {
        this.update('wet', value);
      },
    },
    ...mapState('effects', { effects: 'index' }),
  },
  methods: {
    update(key, value) {
      const id = this.effectId;
      this.updateEffect({ id, key: `options.${key}`, value });
    },
    ...mapMutations('effects', {
      updateEffect: 'update',
    }),
  },
};
</script>

<style lang="scss">
.effect-editor-distortion.distortion {
  .distortion__controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & > * {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}
</style>
