<script>
import { mapState } from 'vuex';

import Distortion from './EffectEditorDistortion';
import FeedbackDelay from './EffectEditorFeedbackDelay';
import Tremolo from "./EffectEditorTremolo";

const EDITOR_COMPONENTS = {
  distortion: Distortion,
  feedbackDelay: FeedbackDelay,
  tremolo: Tremolo,
};

export default {
  name: 'EffectEditor',
  props: {
    effectId: {
      type: String,
      required: true,
    },
  },
  computed: {
    effect() {
      return this.effects[this.effectId];
    },
    component() {
      if (this.effect) return EDITOR_COMPONENTS[this.effect.type];
    },
    ...mapState('effects', { effects: 'index' }),
  },
  render(h) {
    const componentData = {
      ...this.$data,
      props: { ...this.$props },
    };

    return h(this.component, componentData, this.$slots.default);
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";

.effect-editor {
}
</style>
