<template>
  <div class="effect-editor-feedback-delay feedback-delay">
    <effect-editor-card :effect="effect">
      <template slot="name">Feedback Delay</template>

      <div class="feedback-delay__controls">
        <delay-time-knob v-model="delayTime" />
        <feedback-knob v-model="feedback" />
        <wet-knob v-model="wet" />
      </div>
    </effect-editor-card>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';

import DelayTimeKnob from '@/components/controls/DelayTimeKnob';
import FeedbackKnob from '@/components/controls/FeedbackKnob';
import WetKnob from '@/components/controls/WetKnob';
import EffectEditorCard from './EffectEditorCard';

export default {
  name: 'EffectEditorFeedbackDelay',
  components: {
    DelayTimeKnob,
    FeedbackKnob,
    WetKnob,
    EffectEditorCard,
  },
  props: {
    effectId: {
      type: String,
      required: true,
    },
  },
  computed: {
    effect() {
      return this.effects[this.effectId];
    },
    delayTime: {
      get() {
        return this.effect.options.delayTime;
      },
      set(value) {
        this.update('delayTime', value);
      },
    },
    feedback: {
      get() {
        return this.effect.options.feedback;
      },
      set(value) {
        this.update('feedback', value);
      },
    },
    wet: {
      get() {
        return this.effect.options.wet || 1;
      },
      set(value) {
        this.update('wet', value);
      },
    },
    ...mapState('effects', { effects: 'index' }),
  },
  methods: {
    update(key, value) {
      const id = this.effectId;
      this.updateEffect({ id, key: `options.${key}`, value });
    },
    enable() {
      console.log('Enabling...');

      if (this.effect.enabled) return;
      this.enableEffect({ id: this.effectId })
    },
    disable() {
      console.log('Disabling...');

      if (!this.effect.enabled) return;
      this.disableEffect({ id: this.effectId })
    },
    ...mapMutations('effects', {
      updateEffect: 'update',
      enableEffect: 'enable',
      disableEffect: 'disable',
    }),
  }
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";

.effect-editor-feedback-delay {
  &.feedback-delay {
    .feedback-delay__controls {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;

      & > * {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
  }
}
</style>
