<template>
  <div class="oscillator-type">
    <el-select size="mini"
               class="oscillator-type__select"
               v-model="type">
      <el-option v-for="wave in types"
                 :key="wave"
                 :value="wave" />
    </el-select>
    <div class="oscillator-type__preview">
      <wave-line :wave="type" :width="150" />
    </div>
  </div>
</template>

<script>
import WaveLine from '@/components/WaveLine';

const WAVE_TYPES = [
  'sine',
  'square',
  'triangle',
  'sawtooth',
];

export default {
  name: 'OscillatorType',
  components: {
    WaveLine,
  },
  props: {
    value: {
      type: String,
      required: true,
      validator: val => WAVE_TYPES.includes(val),
    },
    types: {
      type: Array,
      default: () => WAVE_TYPES,
      validator: val => val.every(type => WAVE_TYPES.includes(type)),
    },
    wavePreview: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    type: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";

.oscillator-type {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__select {
    flex: 0 1 auto;

    .el-input__inner {
      color: $white;
      border-color: $black;
      background-color: $black-lighter;
    }
  }

  &__preview {
    flex: 1 150px;
    margin-left: 8px;

    box-shadow: $box-shadow-inset;
    border-radius: $border-radius;
    background-color: $black-light;
  }
}

.el-select-dropdown {
  color: $white;
  background-color: $grey-darker;
  border-color: $black-lighter;

  &__item {
    color: $white;

    &.hover {
      color: $white;
      background-color: $grey;
    }

    &.selected {
      color: $primary;
      background-color: $black-lighter;
    }
  }
}
</style>
