<template>
  <div class="oscillator-phase">
    <ui-knob :min="min"
             :max="max"
             :step="step"
             :size="40"
             v-model="phase">
      <span slot="label">
        <slot name="label">Phase</slot>
      </span>
      <span slot-scope="{ value }">
        {{ value }} deg
      </span>
    </ui-knob>
  </div>
</template>

<script>
export default {
  name: 'OscillatorPhase',
  props: {
    value: {
      type: Number,
      required: true,
    },
    min: {
      type: Number,
      default: 0,
    },
    max: {
      type: Number,
      default: 360,
    },
    step: {
      type: Number,
      default: 1,
    },
  },
  computed: {
    phase: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";

.oscillator-phase {
}
</style>
