
<template>
  <div class="oscillator-frequency">
    <ui-knob :min="min"
             :max="max"
             :step="step"
             :size="40"
             v-model="frequency">
      <span slot="label">
        <slot name="label">Frequency</slot>
      </span>
      <span slot-scope="{ value }">
        {{ value.toFixed(0) }} Hz
      </span>
    </ui-knob>
  </div>
</template>

<script>
export default {
  name: 'OscillatorFrequency',
  props: {
    value: {
      type: Number,
      required: true,
    },
    min: {
      type: Number,
      default: 0,
    },
    max: {
      type: Number,
      default: 3000,
    },
    step: {
      type: Number,
      default: 20,
    },
  },
  computed: {
    frequency: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";

.oscillator-frequency {
}
</style>
