
<template>
  <div class="oscillator-detune">
    <ui-knob :min="min"
             :max="max"
             :step="step"
             :size="40"
             v-model="detune">
      <span slot="label">
        <slot name="label">Detune</slot>
      </span>
      <span slot-scope="{ value }">
        {{ value.toFixed(2) }}
      </span>
    </ui-knob>
  </div>
</template>

<script>
export default {
  name: 'OscillatorDetune',
  props: {
    value: {
      type: Number,
      required: true,
    },
    min: {
      type: Number,
      default: -3,
    },
    max: {
      type: Number,
      default: 3,
    },
    step: {
      type: Number,
      default: 0.01,
    },
  },
  computed: {
    detune: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";

.oscillator-detune {
}
</style>
