$black: rgba(51, 51, 51, 1.0);
$black-light: rgba(54, 54, 54, 1.0);
$black-lighter: rgba(61, 61, 61, 1.0);
$black-dark: rgba(36, 36, 36, 1.0);
$black-darker: rgba(28, 28, 28, 1.0);

$white: rgba(239, 239, 239, 1.0);
$white-light: rgba(242, 242, 242, 1.0);
$white-lighter: rgba(249, 249, 249, 1.0);
$white-dark: rgba(224, 224, 224, 1.0);
$white-darker: rgba(216, 216, 216, 1.0);

$grey: rgba(105, 105, 105, 1.0);
$grey-light: rgba(122, 122, 122, 1.0);
$grey-lighter: rgba(140, 140, 140, 1.0);
$grey-dark: rgba(87, 87, 87, 1.0);
$grey-darker: rgba(69, 69, 69, 1.0);

$blue: rgba(0, 117, 178, 1.0);
$blue-light: rgba(0, 131, 199, 1.0);
$blue-lighter: rgba(0, 151, 230, 1.0);
$blue-dark: rgba(0, 99, 150, 1.0);
$blue-darker: rgba(0, 85, 130, 1.0);

$red: rgba(204, 16, 0, 1.0);
$red-light:rgba(224, 18, 0, 1.0);
$red-lighter: rgba(235, 19, 0, 1.0);
$red-dark: rgba(194, 16, 0, 1.0);
$red-darker: rgba(189, 15, 0, 1.0);

$green: rgba(3, 186, 23, 1.0);
$green-light: rgba(4, 201, 25, 1.0);
$green-lighter: rgba(4, 222, 27, 1.0);
$green-dark: rgba(3, 161, 20, 1.0);
$green-darker: rgba(3, 145, 18, 1.0);

$yellow: rgba(212, 166, 41, 1.0);
$yellow-light: rgba(232, 182, 45, 1.0);
$yellow-lighter: rgba(252, 198, 49, 1.0);
$yellow-dark: rgba(201, 158, 39, 1.0);
$yellow-darker: rgba(191, 150, 37, 1.0);

$purple: rgba(125, 109, 204, 1.0);
$purple-light: rgba(136, 118, 222, 1.0);
$purple-lighter: rgba(147, 128, 240, 1.0);
$purple-dark: rgba(109, 95, 178, 1.0);
$purple-darker: rgba(100, 87, 163, 1.0);

$primary: $purple-dark;
$success: $green-dark;
$warning: $yellow;
$danger: $red-dark;
$info: $grey-light;

$background-color: $grey-darker;

$fill-base: $white;
