@import "./color";

$--color-white: $white;
$--color-black: $black;

$--color-primary: $primary;
$--color-success: $success;
$--color-warning: $warning;
$--color-danger: $danger;
$--color-info: $info;

$--background-color-base: $background-color;

$--fill-base: $fill-base;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
