<template>
  <div id="app">
    <router-view />
    <context-menu />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import ContextMenu from './components/ContextMenu.vue';
import './assets/element-variables.scss';
import './assets/global.scss';

export default Vue.extend({
  name: 'app',
  components: {
    ContextMenu,
  },
});
</script>

<style lang="scss">
@import "./assets/element-variables.scss";
@import "./assets/global.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

#app {
  height: 100vh;
}
</style>
