
<template>
  <ui-card class="adsr-envelope-editor">
    <div slot="header" class="adsr-envelope-editor__header">
      <p style="margin: 0; font-size: .9em;">Envelope</p>
    </div>
    <div class="adsr-envelope-editor__graph" ref="graph">
      <adsr-envelope-graph :envelope="envelope"
                           :width="325"
                           :height="100" />
    </div>
    <div slot="footer" class="adsr-envelope-editor__inputs">
      <div class="adsr-envelope-editor__input">
        <ui-knob :min="mins.attack"
                 :max="maxes.attack"
                 :step="0.005"
                 v-model="attackVal">
          <span slot="label">Attack</span>
          <template slot-scope="{ value }">
            {{ (value * 1000).toFixed(1) }}ms
          </template>
        </ui-knob>
      </div>
      <div class="adsr-envelope-editor__input">
        <ui-knob :min="mins.decay"
                 :max="maxes.decay"
                 :step="0.005"
                 v-model="decayVal">
          <span slot="label">Decay</span>
          <template slot-scope="{ value }">
            {{ (value * 1000).toFixed(1) }}ms
          </template>
        </ui-knob>
      </div>
      <div class="adsr-envelope-editor__input">
        <ui-knob :min="mins.sustain"
                 :max="maxes.sustain"
                 :step="0.05"
                 v-model="sustainVal">
          <span slot="label">Sustain</span>
          <template slot-scope="{ value }">
            {{ (value * 100).toFixed(1) }}% dB
          </template>
        </ui-knob>
      </div>
      <div class="adsr-envelope-editor__input">
        <ui-knob :min="mins.release"
                 :max="maxes.release"
                 :step="0.005"
                 v-model="releaseVal">
          <span slot="label">Release</span>
          <template slot-scope="{ value }">
            {{ (value * 1000).toFixed(1) }}ms
          </template>
        </ui-knob>
      </div>
    </div>
  </ui-card>
</template>

<script>
import { ADSR } from '@/utils/constants/adsr';
import AdsrEnvelopeGraph from './ADSREnvelopeGraph';

export default {
  name: 'ADSREnvelopeEditor',
  components: {
    AdsrEnvelopeGraph,
  },
  props: {
    attack: {
      type: Number,
      required: true,
    },
    decay: {
      type: Number,
      required: true,
    },
    sustain: {
      type: Number,
      required: true,
    },
    release: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      graphWidth: 325,
      graphHeight: 125,
      mins: {
        attack: ADSR.ATTACK.MIN,
        decay: ADSR.DECAY.MIN,
        sustain: ADSR.SUSTAIN.MIN,
        release: ADSR.RELEASE.MIN,
      },
      maxes: {
        attack: ADSR.ATTACK.MAX,
        decay: ADSR.DECAY.MAX,
        sustain: ADSR.SUSTAIN.MAX,
        release: ADSR.RELEASE.MAX,
      },
    };
  },
  computed: {
    envelope() {
      return {
        attack: this.attack,
        decay: this.decay,
        sustain: this.sustain,
        release: this.release,
      };
    },
    attackVal: {
      get() {
        return this.attack;
      },
      set(value) {
        this.$emit('update:attack', value);
      },
    },
    decayVal: {
      get() {
        return this.decay;
      },
      set(value) {
        this.$emit('update:decay', value);
      },
    },
    sustainVal: {
      get() {
        return this.sustain;
      },
      set(value) {
        this.$emit('update:sustain', value);
      },
    },
    releaseVal: {
      get() {
        return this.release;
      },
      set(value) {
        this.$emit('update:release', value);
      },
    },
  },
  mounted() {
    const container = this.$refs.graph.parentElement;
    this.graphWidth = Math.max(container.offsetWidth, 360);
    this.graphHeight = container.offsetHeight;
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";

.adsr-envelope-editor {
  display: flex;
  flex-flow: column;
  height: 100%;

  .ui-card {
    &__header,
    &__footer {
      flex: 0 auto;
    }

    &__body {
      flex: 2 auto;
    }
  }

  &__inputs {
    display: flex;
    justify-content: space-around;
  }
}
</style>
