<template>
  <div class="ui-button-select">
    <label class="ui-button-select__label" v-if="$slots.label">
      <slot name="label" />
    </label>

    <el-radio-group :size="size"
                    :fill="fill"
                    :text-color="textColor"
                    :value="value"
                    @input="val => $emit('input', val)">
      <el-radio-button v-for="opt in options"
                       :key="opt"
                       :label="opt" />
    </el-radio-group>
  </div>
</template>

<script>
import { color } from '@/utils/color';

export default {
  props: {
    size: {
      type: String,
      default: "mini",
    },
    fill: {
      type: String,
      default: color.yellow.hex(),
    },
    textColor: {
      type: String,
      default: color.black.darker.hex(),
    },
    value: {
      type: String,
    },
    options: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";

.ui-button-select {
  text-align: center;

  &__label {
    font-size: .8em;
  }

  &__label,
  &__value {
    color: $white-darker;
  }

  .el-radio-group {
    display: block;
    margin-top: 5px;
  }
}
</style>
