<template functional>
  <el-button :type="props.type"
             :size="props.size"
             :plain="props.plain"
             :circle="props.circle"
             :loading="props.loading"
             :disabled="props.disabled"
             :class="{
              'ui-button': true,
              'ui-button--plain': props.plain,
              'ui-button--circle': props.circle,
              'ui-button--loading': props.loading,
              'ui-button--disabled': props.disabled,
              'ui-button--icon': props.icon,
              [`ui-button--${props.size}`]: true,
              [`ui-button--${props.type || 'default'}`]: true,
              [data.staticClass]: data.staticClass,
             }"
             v-bind="data.attrs"
             v-on="listeners">
    <ui-icon :icon="props.icon"
             class="ui-button__icon"
             v-if="props.icon" />
    <slot v-else />
  </el-button>
</template>

<script>
export default {
  name: 'UiButton',
  props: {
    size: {
      type: String,
      default: 'small',
      validator: str => ['medium', 'small', 'mini'].includes(str),
    },
    type: {
      type: String,
      validator: str => [
        'primary',
        'success',
        'warning',
        'danger',
        'info',
        'text',
      ].includes(str),
    },
    plain: {
      type: Boolean,
      default: false,
    },
    circle: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: Boolean,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    icon: {
      type: String,
    },
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";

.ui-button {
}
</style>
