<template functional>
  <div :class="`ui-card
                ui-card--${props.color}
                ${data.staticClass ? data.staticClass : ''}`"
       v-bind="data.attrs"
       v-on="listeners">
    <div class="ui-card__header" v-show="slots().header">
      <slot name="header" />
    </div>

    <div class="ui-card__body">
      <slot />
    </div>

    <div class="ui-card__footer" v-if="slots().footer">
      <slot name="footer" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: 'grey',
      validator: val => [
        'grey',
        'black',
        'white',
        'blue',
        'red',
        'green',
        'yellow',
        'purple',
      ].includes(val),
    },
  },
};
</script>

<style lang="scss">
@import "../../assets/color";
@import "../../assets/common";

@mixin card-color($bg-color: $grey-dark,
                  $header-color: $white,
                  $header-bg-color: $black-lighter,
                  $footer-color: $header-color,
                  $footer-bg-color: $header-bg-color) {
  background-color: $bg-color;

  .ui-card {
    &__header {
      color: $header-color;
      background-color: $header-bg-color;
    }

    &__footer {
      color: $footer-color;
      background-color: $footer-bg-color;
    }
  }
}

.ui-card {
  box-shadow: $box-shadow-md;
  border-radius: $border-radius;

  &__header {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

   &__footer {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &__header,
  &__body,
  &__footer {
    padding: 6px 10px;
  }

  @include card-color

  &--grey {
    @include card-color
  }

  &--black {
    @include card-color($black, $white, $black-light);
  }

  &--white {
    @include card-color($white-dark, $black-light, $grey-light);
  }

  &--blue {
    @include card-color($blue, $white, $blue-dark);
  }

  &--red {
    @include card-color($red, $white, darken($red, 12%));
  }

  &--green {
    @include card-color($green, $white, darken($green, 12%));
  }

  &--yellow {
    @include card-color($yellow, $white, darken($yellow, 12%));
  }

  &--purple {
    @include card-color($purple, $white, darken($purple, 12%));
  }
}
</style>
