<template functional>
  <fa-icon :icon="[props.type, `${props.icon}`]"
           :size="props.size"
           :fixed-width="props.fixedWidth"
           :rotation="props.rotation"
           :flip="props.flip"
           :spin="props.spin"
           :pulse="props.pulse"
           :border="props.border"
           :pull="props.pull"
           :transform="props.transform"
           :mask="props.mask"
           :symbol="props.symbol"
           v-bind="data"
           v-on="listeners" />
</template>

<script>
const TYPES = ['fas', 'far', 'fab', 'fal'];
const SIZES = ['xs', 'sm', 'lg', '2x', '3x', '5x', '7x', '10x'];
const FLIPS = ['horizontal', 'vertical', 'both'];
const PULLS = ['left', 'right'];

export default {
  props: {
    icon: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      default: 'fas',
      validator: val => TYPES.includes(val),
    },
    size: {
      type: String,
      validator: val => SIZES.includes(val),
    },
    fixedWidth: {
      type: Boolean,
      default: false,
    },
    rotation: {
      type: String,
    },
    flip: {
      type: String,
      validator: val => FLIPS.includes(val),
    },
    spin: {
      type: Boolean,
      default: false,
    },
    pulse: {
      type: Boolean,
      default: false,
    },
    border: {
      type: Boolean,
      default: false,
    },
    pull: {
      type: String,
      validator: val => PULLS.includes(val),
    },
    transform: {
      type: [String, Object],
    },
    mask: {
      type: Array,
    },
    symbol: {
      type: [Boolean, String],
      default: false,
    },
  },
};
</script>
