<template>
  <div class="ui-knob">
    <label class="ui-knob__label" v-if="$slots.label">
      <slot name="label" />
    </label>
    <CircleSlider :min="min"
                  :max="max"
                  :step-size="step"
                  :side="size"
                  :circle-color="circleColors.circle"
                  :progress-color="circleColors.progress"
                  :knob-color="circleColors.knob"
                  :circle-width-rel="circleWidth"
                  :progress-width-rel="progressWidth"
                  :knob-radius-rel="knobRadius"
                  :value="value"
                  @input="val => $emit('input', val)" />
    <small class="ui-knob__value">
      <slot v-bind:value="value">
        {{ value.toFixed(2) }}
      </slot>
    </small>
  </div>
</template>

<script>
import { CircleSlider } from 'vue-circle-slider';
import { color } from '@/utils/color';

export default {
  components: {
    CircleSlider,
  },
  props: {
    min: {
      type: Number,
      required: true,
    },
    max: {
      type: Number,
      required: true,
    },
    step: {
      type: Number,
      required: true,
    },
    value: {
      type: Number,
      required: true,
    },
    size: {
      type: Number,
      default: 55,
    },
    circleColor: {
      type: [String, Object],
      default: color.grey.lighter.hex(),
    },
    progressColor: {
      type: [String, Object],
      default: color.yellow.lighter.hex(),
    },
    knobColor: {
      type: [String, Object],
      default: color.yellow.lighter.hex(),
    },
    circleWidth: {
      type: Number,
      default: 22,
    },
    progressWidth: {
      type: Number,
      default: 8,
    },
    knobRadius: {
      type: Number,
      default: 6,
    },
  },
  computed: {
    circleColors() {
      return {
        circle: this.circleColor,
        progress: this.progressColor,
        knob: this.knobColor,
      };
    },
  },
  methods: {
    getColor(opts) {
      if (typeof opts === 'string') return color[opts].hex();
      const { color: name } = opts;
      return color[name].hex(opts.modifiers);
    },
  },
};
</script>

<style lang="scss">
@import "../../assets/color";

.ui-knob {
  text-align: center;

  &__label {
    font-size: .8em;
  }

  &__label,
  &__value {
    color: $white-darker;
  }
}
</style>
