<template functional>
  <div :class="`ui-panel
                ui-panel--${props.type}
                ${props.rounded ? 'ui-panel--round' : ''}
                ${data.staticClass ? data.staticClass : ''}`"
       v-bind="data.attrs"
       v-on="listeners">
    <div class="ui-panel__header" v-if="slots().header">
      <slot name="header" />
    </div>

    <div class="ui-panel__body">
      <slot />
    </div>

    <div class="ui-panel__footer" v-if="slots().footer">
      <slot name="footer" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'default',
      validator: val => ['default', 'dark', 'light'].includes(val),
    },
    rounded: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss">
@import "../../assets/color";
@import "../../assets/common";

@mixin panel-color($bg-color: $grey,
                   $header-color: $white,
                   $header-bg-color: $black,
                   $footer-color: $header-color,
                   $footer-bg-color: $header-bg-color) {
  background-color: $bg-color;

  .ui-panel {
    &__header {
      color: $header-color;
      background-color: $header-bg-color;
    }

    &__footer {
      color: $footer-color;
      background-color: $footer-bg-color;
    }
  }
}

.ui-panel {
  // box-shadow: $box-shadow;
  box-shadow: none;
  border-radius: 0;

  &__header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &__footer {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__header {
    font-size: .9em;
  }

  &__header,
  &__body,
  &__footer {
    padding: 4px 8px;
  }

  &--default {
    @include panel-color
  }

  &--dark {
    @include panel-color($black-light, $white-dark, $grey);
  }

  &--light {
    @include panel-color($white-dark, $black-light, $grey-light);
  }

  &--round {
    border-radius: $border-radius;

    .ui-panel {
      &__header {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }

      &__footer {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}
</style>
