<template>
  <span :class="['ui-power-btn', `ui-power-btn--${value ? 'on' : 'off'}`]">
    <ui-button circle
               plain
               type="text"
               size="mini"
               icon="power-off"
               @click="toggle()" />
  </span>
</template>

<script>
export default {
  name: 'UiPowerButton',
  model: {
    prop: 'value',
    event: 'change',
  },
  props: {
    value: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    toggle() {
      this.$emit('change', !this.value);
    },
  },
};
</script>

<style lang="scss">
@import "~@/assets/color";
@import "~@/assets/common";

.ui-power-btn {
  &--on {
    .ui-button {
      color: white;
      background: $primary;
    }
  }

  &--off {
    .ui-button {
      color: $grey-dark;
      background: $grey-lighter;
    }
  }
}
</style>
